.box-container {
  padding: 2em;
}

.box-btn--match {
  margin-top: 3em;
  align-self: flex-end;
  margin-top: 0.2em;
  background-image: linear-gradient(#e99d11, #fbc562);
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  padding: 0.7em;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

.timer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: grey;
  opacity: 0.8;
  color: black;
  font-weight: bold;
}

@media (min-width: 1000px) {
}
