.players-list-container {
  margin-bottom: 2em;
  color: #a8bfc9;
  text-transform: capitalize;
}
.players-list {
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin-top: 0.5em;
}
.players-list__item {
  height: 1em;
}
.players-list__item b {
  text-transform: capitalize;
}
.players-list--bottom {
  padding-bottom: 0.6em;
  margin-bottom: 0;
}
hr {
  background-image: linear-gradient(to right, #1f3641, #a8bfc9, #1f3641);
  height: 1px;
  border: none;
}
