.cell {
  flex: 1 1 30%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  background-color: #3f5e6d;
  border: none;
  border: 10px solid #3f5e6d;
}

/* @media (min-width: 600px) {
  .cell {
    height: 100px;
  }
}
@media (min-width: 900px) {
  .cell {
    height: 100px;
  }
} */
