.box-container {
  padding: 2em;
}
.profile {
  display: flex;
  gap: 0.5em;
}

.profile__text {
  /* background-color: green; */
  width: 65%;
  text-transform: capitalize;
}

.profile__text h1 {
  margin: 0;
}

.profile__text--paragraf {
  line-height: 1.7em;
}

.profile__boxItems {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  gap: 0.5em;
  justify-content: space-between;
}
.profile-item {
  margin: 0;
  width: 46%;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
}
.profile-item--pink {
  background-color: rgb(233, 18, 179);
}

.profile-item--win {
  background-color: rgb(124, 19, 97);
}
.profile-item--draw {
  background-color: rgb(211, 108, 185);
}
.profile-item--lose {
  background-color: rgb(175, 0, 131);
}
.box-btn {
  margin-top: 3em;
  align-self: flex-end;
  margin-top: 0.2em;
  background-image: linear-gradient(#e99d11, #fbc562);
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  padding: 0.7em;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
}

@media (min-width: 1000px) {
  .profile {
    gap: 2em;
  }
  .profile-item {
    height: 4em;
    width: 47%;
  }
}
