.game-container {
  width: 70vw;
}
.board-game__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.board-game--turn {
  pointer-events: all;
  opacity: 1;
}
.board-game {
  pointer-events: none;
  opacity: 0.3;
}
.board-game__container.x .cell:hover:not(button.cell-disable) {
  background-image: url('../../assests/icon-x-outline.svg');
  background-repeat: no-repeat;
}
.board-game__container.o .cell:hover:not(button.cell-disable) {
  background-image: url('../../assests/icon-o-outline.svg');
  background-repeat: no-repeat;
}

@media (min-width: 600px) {
  .game-container {
    width: 50vw;
  }
}
@media (min-width: 900px) {
  .game-container {
    width: 30vw;
  }
}
