.game-container {
  width: 70vw;
}
.board-game__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.board-game--turn {
  pointer-events: all;
  opacity: 1;
}
.board-game {
  pointer-events: none;
  opacity: 0.3;
}
.board-game__container.x .cell:hover:not(button.cell-disable) {
  background: url('../../assests/icon-x-outline.svg') no-repeat center;
  background-color: #284958;
}
.board-game__container.o .cell:hover:not(button.cell-disable) {
  background: url('../../assests/icon-o-outline.svg') no-repeat center;
  background-color: #284958;
}
.disable-game {
  opacity: 0.2;
}
@media (min-width: 400px) {
  .game-container {
    width: 40vw;
  }
}
@media (min-width: 600px) {
  .game-container {
    width: 50vw;
  }
}
@media (min-width: 900px) {
  .game-container {
    width: 40vw;
  }
}
@media (min-width: 1000px) {
  .game-container {
    width: 30vw;
  }
}
@media (min-width: 1200px) {
  .game-container {
    width: 25vw;
  }
}
@media (min-width: 1600px) {
  .game-container {
    width: 20vw;
  }
}
